<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>776988442030-rq2onrhpnkp16db40n6pqa7j9a9v0oc2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.776988442030-rq2onrhpnkp16db40n6pqa7j9a9v0oc2</string>
	<key>API_KEY</key>
	<string>AIzaSyCE-FUv8Skfc7AjJ9ZL1nw7TpnBSOuK85c</string>
	<key>GCM_SENDER_ID</key>
	<string>776988442030</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>bairaha.thirdeye</string>
	<key>PROJECT_ID</key>
	<string>rd-eye---blind-app</string>
	<key>STORAGE_BUCKET</key>
	<string>rd-eye---blind-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:776988442030:ios:2f96ceeebb3d52d725dc3f</string>
</dict>
</plist>